<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:quizdb.db</property>
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="ge.edu.freeuni.entities.Answer"/>
        <mapping class="ge.edu.freeuni.entities.Challenge"/>
        <mapping class="ge.edu.freeuni.entities.FriendRequest"/>
        <mapping class="ge.edu.freeuni.entities.Friendship"/>
        <mapping class="ge.edu.freeuni.entities.Note"/>
        <mapping class="ge.edu.freeuni.entities.Question"/>
        <mapping class="ge.edu.freeuni.entities.Quiz"/>
        <mapping class="ge.edu.freeuni.entities.QuizGame"/>
        <mapping class="ge.edu.freeuni.entities.User"/>
    </session-factory>
</hibernate-configuration>