body {
    font-family: Arial, sans-serif;
    background-color: lavenderblush;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.notifications-container {
    width: 90%;
    max-width: 800px;
    background-color: thistle;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.notifications-list {
    max-height: 450px;
    overflow-y: auto;
}
.notification {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: lavenderblush;
}
.notification:hover {
    transform: translateY(-5px);
}
.notification-label-main {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: darkslateblue;
}
.notification-label-small {
    font-size: 14px;
    color: #555;
}
.no-notifications {
    text-align: center;
    color: #555;
    font-size: 16px;
    margin-top: 20px;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: indigo;
    padding: 10px 0;
    border-radius: 5px;
}

.nav-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.create-new-button {
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 15px;
}
 .create-new-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.active {
    font-weight: bold;
    color: gold;
}
.note-container {
    width: 90%;
    max-width: 800px;
    background-color: thistle;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.note-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background: rebeccapurple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.note-contents {
    background-color: lavenderblush;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.note-sender {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}
.note-subject {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #2e2b35;
}
.note-timestamp {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}
.note-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid thistle;
    border-radius: 5px;
    padding: 5px;
}
.reply-button {
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.no-notifications {
    text-align: center;
    color: #555;
    font-size: 16px;
    margin-top: 20px;
}

.notifications-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.create-new-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.big-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.big-button {
    flex: 1;
    padding: 20px;
    background-color: #337ab7;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 5px;
}
a {
    text-decoration: none;
}
.child {
    flex: 1;
}

.child:nth-child(1) {
    flex: 2;
}

.child:nth-child(2) {
    flex: 1;
}
.friend-request {
    display: flex;
}
.challenge{
    display: flex;
}
button[type="submit"]:hover {
transform: scale(1.02);
}
